:root {
  --primary-color: steelblue;
  --primary-hover: grey;
}

* {
  box-sizing: border-box;

}

a, button {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
}

a:hover {
  text-decoration: underline;
}


header {
  text-align: center;
}

h4 {
  font-size: x-large;
}

main {
  text-align: center;
}

nav a {
  padding: 6px 10px;
  margin: 0 15px;
  transition: all 0.2s;
}

footer {
<<<<<<< HEAD
  text-align: center;
  margin-top: 100%;
}
=======
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
  justify-content: space-evenly;
  width: 100%;
  letter-spacing: .1rem;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.login {
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
}

/* CARDS */
.card-header {
  color: var(--secondary);
  margin: 0;
  background-color: var(--dark);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  padding: 2.5%;
  font-size: 1.4rem;
}

>>>>>>> d16590b57531c3b2d3ee98e89d3cb1129d3b3162
