:root {
  --primary-color: steelblue;
  --primary-hover: grey;
}

* {
  box-sizing: border-box;

}

a, button {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
}

a:hover {
  text-decoration: underline;
}


header {
  text-align: center;
}

h4 {
  font-size: x-large;
}

main {
  text-align: center;
}

nav a {
  padding: 6px 10px;
  margin: 0 15px;
  transition: all 0.2s;
}

